{% extends 'base.html.twig' %}

{% block title %}TypeDossiers index{% endblock %}

{% block body %}
    <h1>TypeDossiers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_dossier in type_dossiers %}
            <tr>
                <td>{{ type_dossier.id }}</td>
                <td>{{ type_dossier.type }}</td>
                <td>
                    <a href="{{ path('type_dossiers_show', {'id': type_dossier.id}) }}">show</a>
                    <a href="{{ path('type_dossiers_edit', {'id': type_dossier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_dossiers_new') }}">Create new</a>
{% endblock %}
