{% extends 'suivies/index.html.twig' %}

{% block title %}Provinces index{% endblock %}

{% block contenue %}
    <div class="container">
        <div class="text-center">
            <h1>Liste des Provinces</h1>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Province</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for province in provinces %}
                <tr>
                    <td>{{ province.id }}</td>
                    <td>{{ province.province }}</td>
                    <td>
                        <a href="{{ path('provinces_show', {'id': province.id}) }}">Voir</a>
                        <a href="{{ path('provinces_edit', {'id': province.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('provinces_new') }}">Créer un province</a>
    </div>
{% endblock %}
