{% extends 'suivies/index.html.twig' %}

{% block title %}Provinces index{% endblock %}

{% block contenue %}
    <div class="container">
        <div class="text-center">
            <h1>Liste des Provinces</h1>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Province</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for province in provinces %}
                <tr>
                    <td>{{ province.id }}</td>
                    <td>{{ province.province }}</td>
                    <td>
                        <a href="{{ path('provinces_show', {'id': province.id}) }}" class="btn btn-warning"><i class="fa fa-book" aria-hidden="true"></i></a>
                        <a href="{{ path('provinces_edit', {'id': province.id}) }}" class="btn btn-danger"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('provinces_new') }}" class="btn btn-success">Créer un province</a>
    </div>
{% endblock %}
