{% extends 'suivies/index.html.twig' %}

{% block title %}Provinces{% endblock %}

{% block contenue %}
    <div class="container">
        <div class="text-center">
            <h1>Provinces</h1>
        </div>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ province.id }}</td>
                </tr>
                <tr>
                    <th>Province</th>
                    <td>{{ province.province }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('provinces_index') }}">Retour vers la liste</a>

        <a href="{{ path('provinces_edit', {'id': province.id}) }}">Modifier</a>

        {{ include('provinces/_delete_form.html.twig') }}
    </div>
{% endblock %}
