{% extends 'suivies/index.html.twig' %}

{% block title %}Unites{% endblock %}

{% block contenue %}
    <div class="container">
        <div class="text-center">
            <h1>Unites</h1>
        </div>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ unite.id }}</td>
                </tr>
                <tr>
                    <th>Unite</th>
                    <td>{{ unite.unite }}</td>
                </tr>
                <tr>
                    <th>Abreviation</th>
                    <td>{{ unite.abreviation }}</td>
                </tr>
                <tr>
                    <th>Localite</th>
                    <td>{{ unite.localite }}</td>
                </tr>
                <tr>
                    <th>Mail</th>
                    <td>{{ unite.mail }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ unite.phone }}</td>
                </tr>
                <tr>
                    <th>Unité supérieur</th>
                    <td>{{ unite.unitesuperieur }}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <a href="{{ path('unites_index') }}" class="btn btn-primary">Retour</a>
        <br><br>
        <a href="{{ path('unites_edit', {'id': unite.id}) }}" class="btn btn-warning">Modifier</a>
        <br><br>
        {{ include('unites/_delete_form.html.twig') }}
    </div>
{% endblock %}
