{% extends 'base.html.twig' %}

{% block title %}PiecesJointes index{% endblock %}

{% block body %}
    <h1>PiecesJointes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomFichier</th>
                <th>NomServer</th>
                <th>ReferencePJ</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pieces_jointe in pieces_jointes %}
            <tr>
                <td>{{ pieces_jointe.id }}</td>
                <td>{{ pieces_jointe.nomFichier }}</td>
                <td>{{ pieces_jointe.nomServer }}</td>
                <td>{{ pieces_jointe.referencePJ }}</td>
                <td>
                    <a href="{{ path('pieces_jointes_show', {'id': pieces_jointe.id}) }}">show</a>
                    <a href="{{ path('pieces_jointes_edit', {'id': pieces_jointe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pieces_jointes_new') }}">Create new</a>
{% endblock %}
